@use './colors.scss' as *;
@use './numerical.scss' as *;

// credit to docsify (https://docsify.js.org) for a lot of the styling

main {
	height: 100%;
}

section {
	padding: 20px;
	height: 100%;
	width: 100%;
	overflow: auto;
	scroll-behavior: smooth;
}

h2:not(:first-of-type) {
	margin-top: 40px;
}

p {
	margin: 20px 0;
	line-height: 1.6rem;
	font-weight: 400;
}

ul {
	padding-left: 1.5rem;
	margin: 10px 0;
	line-height: 1.8rem;
}

:global(code) {
	display: inline-block;
	background-color: $c-black-2;
	color: lighten($c-red-1, 30%);
	padding: 3px 5px;
	margin: 0 2px;
	white-space: pre-warp;
	border-radius: 2px;
	line-height: normal;
}

:global(pre) {
	background-color: darken($c-black-2, 5%) !important;
	margin: 20px 0 !important;
	border-radius: 5px;
}

li {
	font-size: 0.9rem;
}

li,
p {
	max-width: 800px;
}

:global(pre code) {
	font-size: 0.9rem;
}

@media screen and (min-width: $size-1) {
	main {
		display: flex;
	}

	li {
		font-size: 1rem;
		line-height: 35px;
	}

	:global(pre code) {
		font-size: 1.1rem;
	}
}

@media screen and (min-width: $size-2) {
	:root {
		font-size: 18px;
	}
}
