:root {
    --sidebar: #1f2430;
    --sidebar-border: #191e2a;
    --main-background: #232834;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding: 10px;
    font-family: 'Cascadia Code';
}
